@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Bold.eot");
  src: url("../fonts/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Bold.woff") format("woff"), url("../fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-It.eot");
  src: url("../fonts/SourceSansPro-It.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-It.woff") format("woff"), url("../fonts/SourceSansPro-It.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Regular.eot");
  src: url("../fonts/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-ExtraLight.eot");
  src: url("../fonts/SourceSansPro-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-ExtraLight.woff") format("woff"), url("../fonts/SourceSansPro-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Semibold.eot");
  src: url("../fonts/SourceSansPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Semibold.woff") format("woff"), url("../fonts/SourceSansPro-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .row.reverse {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }

.col.reverse {
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

[class^="col-"], [class*=" col-"] {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.small-1 {
  -ms-flex-preferred-size: 8.3333333333%;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%; }

.small-2 {
  -ms-flex-preferred-size: 16.6666666667%;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%; }

.small-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.small-4 {
  -ms-flex-preferred-size: 33.3333333333%;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%; }

.small-5 {
  -ms-flex-preferred-size: 41.6666666667%;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%; }

.small-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.small-7 {
  -ms-flex-preferred-size: 58.3333333333%;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%; }

.small-8 {
  -ms-flex-preferred-size: 66.6666666667%;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%; }

.small-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.small-10 {
  -ms-flex-preferred-size: 83.3333333333%;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%; }

.small-11 {
  -ms-flex-preferred-size: 91.6666666667%;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%; }

.small-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

@media (min-width: 45rem) {
  .medium-1 {
    -ms-flex-preferred-size: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }
  .medium-2 {
    -ms-flex-preferred-size: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }
  .medium-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .medium-4 {
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }
  .medium-5 {
    -ms-flex-preferred-size: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }
  .medium-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .medium-7 {
    -ms-flex-preferred-size: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }
  .medium-8 {
    -ms-flex-preferred-size: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }
  .medium-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .medium-10 {
    -ms-flex-preferred-size: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }
  .medium-11 {
    -ms-flex-preferred-size: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }
  .medium-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; } }

@media (min-width: 65rem) {
  .col-1 {
    -ms-flex-preferred-size: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }
  .col-2 {
    -ms-flex-preferred-size: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }
  .col-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-4 {
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }
  .col-5 {
    -ms-flex-preferred-size: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }
  .col-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-7 {
    -ms-flex-preferred-size: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }
  .col-8 {
    -ms-flex-preferred-size: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }
  .col-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-10 {
    -ms-flex-preferred-size: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }
  .col-11 {
    -ms-flex-preferred-size: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }
  .col-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; } }

.offset-small-1 {
  margin-left: 8.3333333333%; }

.offset-small-2 {
  margin-left: 16.6666666667%; }

.offset-small-3 {
  margin-left: 25%; }

.offset-small-4 {
  margin-left: 33.3333333333%; }

.offset-small-5 {
  margin-left: 41.6666666667%; }

.offset-small-6 {
  margin-left: 50%; }

.offset-small-7 {
  margin-left: 58.3333333333%; }

.offset-small-8 {
  margin-left: 66.6666666667%; }

.offset-small-9 {
  margin-left: 75%; }

.offset-small-10 {
  margin-left: 83.3333333333%; }

.offset-small-11 {
  margin-left: 91.6666666667%; }

.offset-small-12 {
  margin-left: 100%; }

@media (min-width: 45rem) {
  .offset-medium-1 {
    margin-left: 8.3333333333%; }
  .offset-medium-2 {
    margin-left: 16.6666666667%; }
  .offset-medium-3 {
    margin-left: 25%; }
  .offset-medium-4 {
    margin-left: 33.3333333333%; }
  .offset-medium-5 {
    margin-left: 41.6666666667%; }
  .offset-medium-6 {
    margin-left: 50%; }
  .offset-medium-7 {
    margin-left: 58.3333333333%; }
  .offset-medium-8 {
    margin-left: 66.6666666667%; }
  .offset-medium-9 {
    margin-left: 75%; }
  .offset-medium-10 {
    margin-left: 83.3333333333%; }
  .offset-medium-11 {
    margin-left: 91.6666666667%; }
  .offset-medium-12 {
    margin-left: 100%; } }

@media (min-width: 65rem) {
  .offset-1 {
    margin-left: 8.3333333333%; }
  .offset-2 {
    margin-left: 16.6666666667%; }
  .offset-3 {
    margin-left: 25%; }
  .offset-4 {
    margin-left: 33.3333333333%; }
  .offset-5 {
    margin-left: 41.6666666667%; }
  .offset-6 {
    margin-left: 50%; }
  .offset-7 {
    margin-left: 58.3333333333%; }
  .offset-8 {
    margin-left: 66.6666666667%; }
  .offset-9 {
    margin-left: 75%; }
  .offset-10 {
    margin-left: 83.3333333333%; }
  .offset-11 {
    margin-left: 91.6666666667%; }
  .offset-12 {
    margin-left: 100%; } }

.start {
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start; }

.center {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.end {
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end; }

.top {
  -ms-flex-align: start;
  align-items: flex-start; }

.middle {
  -ms-flex-align: center;
  align-items: center; }

.bottom {
  -ms-flex-align: end;
  align-items: flex-end; }

.around {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.between {
  -ms-flex-pack: justify;
  justify-content: space-between; }

.first {
  -ms-flex-order: -1;
  order: -1; }

.last {
  -ms-flex-order: 1;
  order: 1; }

.self-start {
  -ms-flex-item-align: start;
  align-self: flex-start; }

.self-end {
  -ms-flex-item-align: end;
  align-self: flex-end; }

.columns div:nth-child(even) {
  padding-right: 0.625rem; }

.columns div:nth-child(odd) {
  padding-left: 0.625rem; }

body {
  background: #fff;
  font-family: "Source Sans Pro";
  color: #000;
  overflow-x: hidden;
  font-size: 17px; }

a {
  color: initial;
  text-decoration: none; }

p, blockquote, li {
  font-size: 1em;
  line-height: 1.5; }

p {
  margin: 0 0 1em 0; }
  p:last-child, p:only-child {
    margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro";
  font-weight: 700;
  text-transform: normal;
  color: #000; }

h1 {
  font-size: 2em;
  line-height: 1.2; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.3em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.9em; }

h6 {
  font-size: 0.8em; }

li {
  list-style: none; }

img {
  width: 100%; }

figure figcaption {
  text-align: center; }

.no-padding {
  padding: 0; }

.Form {
  width: 100%;
  margin: auto; }
  .Form label {
    padding: 0.3125rem 0.9375rem; }
  .Form input[type='text'] {
    font-size: .97rem;
    width: 100%;
    height: 2.1875rem;
    text-align: center; }

.Form-Control {
  position: relative; }
  .Form-Control .name {
    font-size: .97rem;
    position: absolute;
    color: #AAA;
    width: calc(100% - 30px);
    height: 40px;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 26px;
    background: white; }
  .Form-Control .icon {
    position: absolute;
    z-index: 2;
    left: 15px;
    top: 50%;
    margin-top: -15px !important;
    color: black;
    width: 20px !important;
    padding: 0 10px !important; }
  .Form-Control .placeholder {
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: black;
    height: 40px;
    text-align: center; }

.Button {
  width: 16.25rem;
  height: 2.5rem;
  background: #05347a;
  color: #fff;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 200;
  cursor: pointer; }
  .Button.small {
    width: auto;
    height: auto;
    border-radius: 5px;
    padding: 3px 15px;
    font-weight: 400; }
  .Button.yellow {
    background: #f6b11e; }
  .Button.right {
    float: right; }
  .Button.disabled {
    background: gray;
    opacity: .5;
    cursor: default; }

body {
  overflow: hidden; }

#preloader {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  transition: top .5s ease; }
  #preloader .image {
    width: 90%;
    max-width: 300px; }
  #preloader.hide {
    top: -100%; }
  #preloader #signal-1,
  #preloader #signal-2,
  #preloader #signal-3 {
    fill: #EFA43A;
    opacity: .9;
    animation: preloader 1.5s infinite; }
  #preloader #signal-1 {
    animation-delay: .7s; }
  #preloader #signal-2 {
    animation-delay: .35s; }

@keyframes preloader {
  50% {
    fill: #EFA43A; }
  100% {
    fill: white; } }

body.Register, body.Login {
  background: url("../../img/register.jpg") center;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 0 !important;
  font-weight: 500;
  color: #fff;
  font-family: 'Open Sans', sans-serif; }

body.Login {
  background: url("../../img/Bogota-2.jpg") center; }

.Register-Logo {
  text-align: center; }

.Register .errors, .Login .errors {
  background: #ee6666;
  padding: 0.625rem;
  margin-top: 0.9375rem;
  font-weight: 100;
  font-size: 0.875rem; }
  .Register .errors div, .Login .errors div {
    margin: 0.125rem; }

.Register .Header, .Login .Header {
  min-height: inherit; }

.Register h1, .Login h1 {
  color: white;
  font-family: 'Open Sans', sans-serif !important;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0; }

.Register h2, .Login h2 {
  font-size: 0.875rem;
  color: white;
  font-family: 'Open Sans', sans-serif !important;
  text-align: center;
  font-weight: 300;
  line-height: 1.4rem;
  margin: 1rem auto 1.2rem;
  width: 30rem; }

.Register h3, .Login h3 {
  text-align: center;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300; }

.Register main, .Login main {
  max-width: 70rem;
  margin: auto; }

.Register form, .Login form {
  background: white;
  padding: 1rem 2rem;
  margin: auto;
  border-radius: 0.25rem;
  max-width: 16rem; }
  .Register form button, .Login form button {
    margin: 1rem auto;
    padding: 0.75rem 3rem;
    display: block;
    color: white;
    border: none;
    background: #004f8f;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif !important;
    cursor: pointer; }
  .Register form label, .Login form label {
    color: #aeaeae;
    display: block;
    font-size: 0.75rem; }
  .Register form input, .Login form input {
    border: none;
    border-bottom: 0.0625rem solid #9f9e9b;
    width: 100%;
    margin: .5rem 0rem 1rem;
    padding: 0 0 0.125rem 0.125rem; }
    .Register form input:focus, .Login form input:focus {
      outline: 0; }

.Register .Register-social, .Login .Register-social {
  margin: 1.5rem 3rem;
  display: block; }
  .Register .Register-social path, .Login .Register-social path {
    fill: #004f8f; }

.Register .Register-label, .Login .Register-label {
  position: relative; }
  .Register .Register-label svg, .Login .Register-label svg {
    position: absolute;
    top: 1.125rem;
    width: 1.5rem;
    right: 0;
    cursor: pointer; }

.Register #Eye-white, .Login #Eye-white {
  transition: all 0.3s; }

.Register .openEye, .Login .openEye {
  fill: white; }

#Map {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }

.Platform-Logo {
  max-width: 12.5rem;
  margin: 1.5625rem auto 0.75rem; }

.Platform {
  max-height: 100vh;
  overflow-y: hidden; }
  .Platform .Hamburguer span, .Platform .Hamburguer span:after {
    background: #002444; }
  .Platform .orange-text {
    text-shadow: 0 0 0 black; }
  .Platform .Header {
    position: relative;
    min-height: inherit; }
    .Platform .Header .Menu > li > a {
      color: #002444; }
  .Platform .Platform-product {
    position: absolute;
    min-height: 100vh;
    width: 25rem;
    background: white;
    top: 0;
    left: 0; }
    .Platform .Platform-product form {
      padding: 0.3125rem 0.625rem; }
    .Platform .Platform-product div {
      padding: 0.25rem; }
    .Platform .Platform-product label {
      background: #004f8f;
      display: block; }
    .Platform .Platform-product select {
      max-width: 100%;
      background: #004f8f;
      color: white;
      border: none;
      border-radius: 0;
      font-size: 0.75rem;
      height: 1.625rem;
      font-weight: 100; }
    .Platform .Platform-product article {
      margin: 0.9375rem; }

.Platform-productSection figure {
  margin: 0; }

.Platform-productSection div {
  background: #e8e8e8; }

.Platform-productSection img {
  display: block; }

.Platform-productInfo {
  padding: 0.625rem !important; }
  .Platform-productInfo h3 {
    margin: 0;
    font-size: 1.375rem;
    color: #004f8f;
    font-weight: 600; }
  .Platform-productInfo b {
    font-weight: 400;
    font-size: 1.5rem; }

.Container {
  margin: auto;
  width: 100%;
  max-width: 73.125rem; }

.Logo {
  padding: 1rem 2.5rem;
  margin: 0; }

.icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1.625rem;
  height: 1.625rem;
  margin-bottom: 1.5625rem; }
  .icon a {
    display: block;
    height: 100%; }

.Menu li {
  padding-right: 2.8125rem; }

.Menu-fixed nav {
  display: none;
  background: rgba(0, 79, 143, 0.95);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500; }

.Menu-fixed ul {
  margin: auto;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }

.Menu-fixed li {
  width: 100%; }
  .Menu-fixed li a {
    border-bottom: 1px solid white;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    padding: 15px 0 5px; }
    .Menu-fixed li a:hover {
      border-color: #f6b11e;
      color: #f6b11e; }

.Hamburguer {
  display: block;
  position: relative;
  width: 2.0625rem !important;
  height: 1.4375rem !important; }
  .Hamburguer span,
  .Hamburguer span:after {
    display: block;
    height: 0.3125rem;
    background: white; }
  .Hamburguer span {
    transition: all .3s ease;
    position: absolute;
    right: 0;
    width: 1.5625rem; }
    .Hamburguer span:after {
      content: "";
      width: 0.3125rem;
      position: absolute;
      left: -7px; }
    .Hamburguer span:nth-child(2) {
      top: 50%;
      margin-top: -0.15625rem; }
    .Hamburguer span:nth-child(3) {
      bottom: 0; }
  .Hamburguer.open {
    position: relative;
    margin-right: 5px;
    z-index: 600;
    width: 2.0625rem; }
    .Hamburguer.open span {
      top: 50%;
      margin-top: -0.15625rem;
      width: 100%; }
      .Hamburguer.open span:after {
        display: none; }
      .Hamburguer.open span:nth-child(1) {
        transform: rotate(-45deg); }
      .Hamburguer.open span:nth-child(2) {
        opacity: 0; }
      .Hamburguer.open span:nth-child(3) {
        transform: rotate(45deg); }

.show {
  display: block !important; }

.Header {
  margin: auto;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .Header a, .Header q {
    color: #fff; }
  .Header q:before,
  .Header q:after {
    visibility: hidden; }
  .Header .BarNav {
    min-height: 6.25rem; }
  .Header .icon {
    margin: 0;
    padding-right: 1.25rem; }
    .Header .icon img {
      height: 100%; }
  .Header .Services {
    padding-bottom: 2.375rem;
    color: #fff; }
    .Header .Services .Images, .Header .Services .Leyend {
      text-align: center;
      padding: 3.125rem; }
    .Header .Services .Leyend {
      font-size: 1.5rem; }
    .Header .Services .Service-image {
      text-align: center;
      width: 9.375rem; }
    .Header .Services .Arrow {
      transform: rotate(90deg);
      width: 1.5625rem;
      height: 1.5625rem;
      font-weight: 800;
      margin: auto; }

.home .backgroundVideo {
  background: url("../../img/Bogota.jpg") center no-repeat;
  background-size: cover; }

.backgroundVideo {
  overflow: hidden;
  background: #000;
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%; }
  .backgroundVideo .cover {
    opacity: .4;
    display: block;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%; }

/************** GIRAR IMAGEN ***************/
.Images {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  perspective: 1000;
  margin: 0 auto;
  padding-bottom: 2.375rem;
  color: #fff; }
  .Images .Service-image {
    width: 150px;
    margin: 0;
    text-align: center; }
  .Images a {
    position: relative; }
    .Images a:hover .circle {
      transform: rotate3d(0, 45, 0, 180deg); }
    .Images a:hover .front {
      transform: rotateY(45deg);
      z-index: 0; }

.circle {
  transition: 0.5s;
  transform-style: preserve-3d;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  height: 170px; }
  .circle .front, .circle .back {
    transition: 0.5s;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0; }
  .circle .back {
    position: relative;
    transform: rotate3d(0, 45, 0, 180deg); }
    .circle .back img {
      opacity: .8; }
    .circle .back span {
      padding: 0.3125rem 0.9375rem;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center; }
      .circle .back span svg path {
        fill: black; }
  .circle .front {
    z-index: 2; }

.arrow {
  position: absolute;
  top: 50%;
  margin-top: -1.8rem; }
  .arrow .Service-image {
    width: 3.5rem !important;
    opacity: .7; }
    .arrow .Service-image:hover {
      opacity: 1; }
  .arrow.right {
    right: 0; }
  .arrow.left {
    left: 0; }

.Footer {
  background: #002444 url("../../img/footer.jpg") repeat-x center center;
  color: #fff;
  padding: 0 1.875rem;
  height: 17.8125rem; }
  .Footer > section {
    height: 100%; }
  .Footer a {
    color: #fff; }
  .Footer .Menu-footer,
  .Footer .Copy {
    font-size: .8rem;
    margin-bottom: 0.9375rem; }
  .Footer .Menu-footer li {
    padding: 0 15px;
    border-right: 1px solid #fff; }

svg#Steps .gray1 {
  cursor: pointer; }

svg#Steps .gray2,
svg#Steps .gray3,
svg#Steps .gray4 {
  cursor: pointer;
  -webkit-filter: url(#filter);
  filter: url(#filter); }

svg#Steps .active {
  -webkit-filter: none !important;
  filter: none !important; }

svg#Steps .disabled {
  cursor: default !important; }

.Steps {
  overflow: hidden; }
  .Steps .Service-image {
    text-align: center;
    width: 13.75rem; }
  .Steps .StepsForm {
    width: 400%;
    position: relative;
    transition: all .5s ease;
    left: 0;
    padding: 0.9375rem 0; }
  .Steps .Step {
    width: 25%;
    height: 100%;
    float: left;
    margin-top: 1.875rem; }
  .Steps #Step1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
    .Steps #Step1 input {
      display: none; }
    .Steps #Step1 label {
      opacity: .5;
      cursor: pointer; }

.StepText {
  font-size: 1.2rem;
  display: block;
  padding: 10px 0; }

#foods:checked ~ [for="foods"],
#pets:checked ~ [for="pets"],
#service:checked ~ [for="service"] {
  opacity: 1; }

div.profile-photo-light {
  display: none; }

.HowItWorks {
  max-width: 45rem;
  margin: 3.75rem auto;
  text-align: center; }
  .HowItWorks .how_title {
    font-size: 3rem;
    color: #04529D; }
  .HowItWorks img {
    margin-top: 2rem; }
  .HowItWorks .how_box {
    width: 125px;
    float: left;
    margin: 10px; }
  .HowItWorks .how_number {
    color: #F8BA45;
    font-size: 1.4em;
    font-weight: bold; }
  .HowItWorks .how_text {
    color: #04529D; }
  .HowItWorks .btn_blue {
    background-color: #04529D;
    color: white;
    padding: 0.7em 5em;
    font-size: 1.3em; }

.div_box_center {
  margin: 3em 0em;
  text-align: center; }

.orange-text {
  color: #f5b019 !important;
  text-shadow: 2px 2px 1px black; }

/*# sourceMappingURL=style.css.map */
