//Configuracion general
@import "config"
@import "theme/front/preloader"
@import "theme/front/register"
@import "theme/front/platform"
@import "theme/front/modules"
@import "theme/front/menus"
@import "theme/front/header"
@import "theme/front/footer"
@import "theme/front/aside"
@import "theme/front/steps"
@import "theme/front/profile"


div.profile-photo-light
  display: none
.HowItWorks
  max-width: rem(720)
  margin: rem(60) auto
  text-align: center
  
  .how_title
   font-size: 3rem
   color: #04529D
  
  img
   margin-top: 2rem
   
  .how_box
   width: 125px
   float: left
   margin: 10px

  .how_number
   color: #F8BA45
   font-size: 1.4em
   font-weight: bold


  .how_text
   color: #04529D

  .btn_blue
   background-color: #04529D
   color: white
   padding: 0.7em 5em
   font-size: 1.3em

.div_box_center
  margin: 3em 0em
  text-align: center

.orange-text
  color: rgb(245, 176, 25) !important
  text-shadow: 2px 2px 1px rgb(0, 0, 0)

  
.content-form
  max-width: 900px
  margin: 0px auto

.left-block
  float: left;
  background-color: black
  position: relative
  width: 50%

.text-over
  position: absolute
  color: white
  text-align: center
  top: 44%
  padding: 10px

.block-form
  float: left
  width: 50%

.fileUpload 
  position: relative
  overflow: hidden
  

