.TextOver
  
  position: relative
  margin: 0
  figcaption
    height: auto
    padding: rem(10)
    color: $white
    top: 50%
    
    text-align: center
    @include respond-to (medium)
      position: absolute
      height: rem(130)
      margin-top: rem(-65)  
  
    
    

main.MainBack
  /*padding-left: rem(30)*/
  margin-top: rem(30)