.TextOver
  position: relative
  margin: 0
  figcaption
    position: absolute
    height: rem(130)
    padding: rem(10)
    color: $white
    top: 50%
    margin-top: rem(-65)
    text-align: center

main.MainBack
  padding-left: rem(30)
  margin-top: rem(30)