#Map
  width: 100vw
  height: 100vh
  position: absolute
  top: 0
  left: 0
  z-index: 0
.Platform-Logo
  max-width: rem(200)
  margin: rem(25) auto rem(12)
.Platform
  max-height: 100vh
  overflow-y: hidden
  .Hamburguer span, .Hamburguer span:after
    background: $dark-blue
  .orange-text
    text-shadow: 0 0 0 black
  .Header
    position: relative
    min-height: inherit
    .Menu > li > a
      color: $dark-blue
  .Platform-product
    position: absolute
    min-height: 100vh
    width: rem(400)
    background: white
    top: 0
    left: 0
    form
      padding: rem(5) rem(10)
    div
      padding: rem(4)
    label
      background: #004f8f
      display: block
    select
      max-width: 100%
      background: #004f8f
      color: white
      border: none
      border-radius: 0
      font-size: rem(12)
      height: rem(26)
      font-weight: 100
    article
      margin: rem(15)
.Platform-productSection
  figure
    margin: 0
  div
    background: #e8e8e8
  img
    display: block
.Platform-productInfo
  padding: rem(10) !important

  h3
    margin: 0
    font-size: rem(22)
    color: #004f8f
    font-weight: 600
  b
    font-weight: 400
    font-size: rem(24)

