#Map
  width: 100vw
  height: 100vh
  position: absolute
  top: 0
  left: 0
  z-index: 0
.Platform-Logo
  position: absolute
  top: rem(20)
  left: rem(30)
.Platform
  max-height: 100vh
  overflow-y: hidden
  .Hamburguer span, .Hamburguer span:after
    background: $dark-blue
  .orange-text
    text-shadow: 0 0 0 black
  .Header
    position: relative
    min-height: inherit
    .Menu > li > a
      color: $dark-blue