.profile-title
  color: #004495
  font-size: 1.3em
  margin-top: 15px !important

.profile-servicesquant
  margin-left: 10px
  color: #004495

.ayudaenlace
  color: #d81e1e
  font-size: 0.9em
  z-index: 10

.button 
  border: none
  color: white
  margin-top: 15px
  padding: 15px 32px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 1.2em
  cursor: pointer
  background-color: #00508e
  border-radius: 10px

.text_file
  padding: 5px

.name-profile
  color: #6C6C6F
  font-size: 2em
  text-transform: uppercase
  text-align: center
  margin-top: 10px

.profile-btn-blue
  padding: 14px
  background-color: rgb(0, 80, 142)
  color: white
  border-radius: 10px
  font-size: 1.3em

.profile-item
  margin-top: 10px
  position: relative
  
  p
   width: 100%
   color: #e14220

.profile-data
  color: #6C6C6F

.image-cropper
  width: 230px
  height: 230px
  position: relative
  overflow: hidden
  border-radius: 50%

.img-profile
  display: inline
  margin: 0 auto
  height: 100%
  width: auto

.small-icon
  width: 50px
  position: absolute
  bottom: 0
  left: 200px
  cursor: pointer

.small-icon-2
  width: 25px
  cursor: pointer
  position: absolute
  right: 0

.small-icon-product
  width: 40px
  cursor: pointer

.border-bottom
  border-bottom: 1px solid #B4B4B4

.Profile-productSection
  figure
    margin: 0
  img
    display: block
.Profile-productInfo
  padding: rem(10) !important

  h3
    margin: 0
    font-size: rem(18)
    color: #000
    font-weight: 600
  b
    font-weight: 400
    font-size: rem(15)

.rwd-table
  border-collapse: collapse
  width: 100%
  th:first-child
    border-radius: 13px 0 0 13px
  th:last-child 
    border-radius: 0 13px 13px 0
  th
    background-color: rgb(0, 80, 142)
    padding: 4px 8px
    color: white
  tr td:first-child
    flex-direction: column
    align-items: center
  td
    padding-top: 10px

/*IMAGEN */
.Image-money
  position: relative
  display: flex
  width: 100%
  margin: 0 auto
  padding-bottom: 2.375rem
  color: #fff

  .Service-image
    width: 170px
    margin: 0
    text-align: center

  a
    position: relative

.circle-money
  height: 170px
  width: 100%

  .front
    position: relative
    width: 170px
    height: 170px
    border-radius: 50%
    
    div
      height: 100%
      width: 170px
      position: absolute
      top: 0
      left: 0
      display: flex
      align-items: center
      .txt-value
        font-size: 0.8em 
        padding-top: 10px
      .profile-value
        font-size: 1.8em
      .btn-charge    
        font-size: 1.8em
        color: #FABC44
        &:hover
          border-bottom: 1px solid #FABC44

      svg path
        fill : black

  .front
    z-index: 2
    margin: 0 auto


div.profile-photo-light
  display: none
.HowItWorks
  max-width: rem(720)
  margin: rem(60) auto
  text-align: center

  .how_title
    font-size: 3rem
    color: #04529D

  img
    margin-top: 2rem

  .how_box
    width: 125px
    float: left
    margin: 10px

  .how_number
    color: #F8BA45
    font-size: 1.4em
    font-weight: bold


  .how_text
    color: #04529D

  .btn_blue
    background-color: #04529D
    color: white
    padding: 0.7em 5em
    font-size: 1em
    @include respond-to(medium)
      font-size: 1.3em

.div_box_center
  margin: 3em 0
  text-align: center

.fileUpload
  position: relative
  overflow: hidden 

/*switch/*
.cmn-toggle 
  position: absolute
  margin-left: -9999px
  visibility: hidden

.cmn-toggle + label 
  display: block
  position: relative
  cursor: pointer
  outline: none
  user-select: none

.image-upload > input
  display: none

.switch
  input.cmn-toggle-round-flat + label 
    padding: 2px
    width: 60px
    height: 30px
    border-radius: 30px
    transition: background 0.4s
    margin: 0 auto

  input.cmn-toggle-round-flat + label:before,
  input.cmn-toggle-round-flat + label:after 
    display: block
    position: absolute
    content: ""

  input.cmn-toggle-round-flat + label:before 
    top: 2px
    left: 2px
    bottom: 2px
    right: 2px
    background-color: #C33D2D
    border-radius: 30px
    transition: background 0.4s

  input.cmn-toggle-round-flat + label:after 
    top: 0px
    left: 0px
    bottom: 4px
    width: 34px
    height: 34px
    background-color: #0D2E47
    border-radius: 50%
    transition: margin 0.4s, background 0.4s

  input.cmn-toggle-round-flat:checked + label:after 
    margin-left: 35px

  input.cmn-toggle-round-flat:checked  + label:before 
    background-color: #49B488
