body.Register
  background: url("../../img/register.jpg") center
  background-size: cover
  min-height: 100vh
  padding-bottom: 0 !important
  font-weight: 300
  color: #fff
.Register-Logo
  text-align: center
.Register
  h1
    color: white
    font-family: 'Lato', sans-serif !important
    text-align: center
    font-size: 2.5rem
    font-weight: 400
    margin-bottom: 0
  h2
    font-size: 1rem
    color: white
    font-family: 'Lato', sans-serif !important
    text-align: center
    font-weight: 300
    line-height: 1.4rem
    margin: 1rem auto 1.2rem
    width: 28rem
  h3
    text-align: center
    font-family: 'Lato', sans-serif !important
    text-align: center
    font-weight: 300
  main
    max-width: 60rem
    margin: auto
  form
    background: white
    padding: 2rem
    margin: auto
    border-radius: rem(4)
    max-width: 20rem
